.landing-page-main-content-container {
	display: flex;
	margin-top: 10vh;
	margin-bottom: 10vh;
	flex-direction: row;
	width: 100%;
	height: fit-content;
	align-items: center;
	justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
	.landing-page-main-content-container {
		margin: 10vh 0 10vh 0;
		flex-direction: column;
		justify-content: space-between;
	}
}
