.signup-form-container {
	display: flex;
	flex-direction: column;
	width: 30vw;
	height: fit-content;
	padding: 2.5rem;
	border-radius: 8px;
	background-color: var(--white-color);
	--tw-shadow: 0 25px 50px -12px rgba(0 0 0 / 0.25);
	--tw-shadow-colored: 0 25px 50px -12px rgba(0 0 0 / 0.25) var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

	.text-center {
		text-align: center;
		margin-top: 1rem;

		.sign-up {
			color: var(--green-color);
			font-weight: 700;
		}
	}
}

@media screen and (max-width: 1024px) {
	.signup-form-container {
		width: 40vw;
	}
}

@media screen and (max-width: 768px) {
	.signup-form-container {
		width: 60vw;
	}
}

@media screen and (max-width: 480px) {
	.signup-form-container {
		width: 80vw;
	}
}
