$verde: #1c7a1f;
$branco: #ffffff;
$preto: #000000;

.main-content-card-container {
	height: fit-content;
	width: 30vw;
	padding: 30px;
	background-color: $branco;
	border-radius: 0.75rem;

	.landing-page-card-title {
		text-align: left;
		font-size: 1.5rem;
		line-height: 1.75rem;
		font-weight: 700;
	}

	.landing-page-text {
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin-bottom: 10px;
	}

	.card-text-verde {
		color: $verde;
	}
}

@media screen and (max-width: 1250px) {
	.main-content-card-container {
		width: 40vw;
	}
}

@media screen and (max-width: 1024px) {
	.main-content-card-container {
		width: 70vw;
	}
}
