$branco: #ffffff;

.rate-admin-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;

	.rate-input-container {
		display: inline-flex;
		width: 70vw;
		justify-content: space-between;
		margin-bottom: 1rem;

		.rate-title {
			font-size: 2.25rem;
			line-height: 2.5rem;
			font-weight: 800;
			margin-left: 2rem;
			color: $branco;
		}
	}
}

@media screen and (max-width: 768px) {
	.rate-admin-container {
		.rate-input-container {
			flex-direction: column;
			.rate-title {
				font-size: 1.15rem;
				margin-left: 0rem;
				color: $branco;
			}
		}
	}
}
