.myaccount-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 9rem;
	justify-content: space-evenly;
	background-color: var(--green-color);
	--tw-shadow: 0 25px 50px -12px rgba(0 0 0 / 0.25);
	--tw-shadow-colored: 0 25px 50px -12px rgba(0 0 0 / 0.25) var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

	.teste {
		display: flex;
		.info-container {
			padding: 20px;
			width: fit-content;
			height: 60vh;
			margin-top: 20vh;
		}
	}
}

@media (max-width: 768px) {
	.myaccount-container {
		.teste {
			flex-direction: column;
			.info-container {
				width: 100%;
				margin-top: 0vh;
			}
		}
	}
}
