$verde: #1c7a1f;
$branco: #ffffff;
$preto: #000000;

.landing-page-sub-content-container {
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: $branco;
	width: 100%;
	height: 10rem;
	margin-bottom: 10vh;

	.sub-content-text-container {
		width: 45vw;
		text-align: justify;

		.sub-content-title {
			font-size: 1.5rem;
			line-height: 1.75rem;
			font-weight: 700;
			margin-bottom: 1rem;
			.text-verde {
				color: $verde;
			}
		}

		.sub-content-text {
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}
}

@media screen and (max-width: 1150px) {
	.landing-page-sub-content-container {
		height: 15rem;
	}
}

@media screen and (max-width: 850px) {
	.landing-page-sub-content-container {
		height: 16rem;

		padding: 0px;
	}
}

@media screen and (max-width: 600px) {
	.landing-page-sub-content-container {
		height: fit-content;
		display: flex;
		flex-direction: column;
		padding: 5vh 0vh 5vh 0vh;

		.sub-content-text-container {
			width: 80%;
			text-align: justify;
			margin-bottom: 1vh;

			.sub-content-title {
				font-size: 1.5rem;
				line-height: 1.75rem;
				font-weight: 700;
				margin-bottom: 1rem;

				.text-verde {
					color: $verde;
				}
			}

			.sub-content-text {
				font-size: 1rem;
				line-height: 1.5rem;
				margin-bottom: 1rem;
			}
		}
	}
}
