.main-content-card-container {
	height: fit-content;
	width: 30vw;
	padding: 30px;
	background-color: var(--component-color);
	border-radius: 0.75rem;
	margin-bottom: 5vh;

	.landing-page-card-title {
		text-align: justify;
		font-size: 1.5rem;
		line-height: 1.75rem;
		font-weight: 700;
		margin-bottom: 1vw;
		color: var(--text-color);
	}

	.landing-page-text {
		text-align: justify;
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin-bottom: 1vw;
		color: var(--text-color);
	}

	.card-text-verde {
		color: var(--green-color);
	}
}

@media screen and (max-width: 1250px) {
	.main-content-card-container {
		width: 40vw;
	}
}

@media screen and (max-width: 1024px) {
	.main-content-card-container {
		width: 50vw;
	}
}

@media screen and (max-width: 768px) {
	.main-content-card-container {
		width: 90vw;
	}
}

@media screen and (max-width: 480px) {
	.main-content-card-container {
		width: 80vw;
	}
}
