.desafio-container {
	flex-wrap: wrap;
	padding: 2.5rem;
	border-radius: 75px;
	background-color: var(--component-color);
	margin-bottom: 5vh;
	width: 65vw;

	.img-and-info {
		display: flex;
		width: fit-content;
		height: fit-content;

		.imagem-container {
			display: flex;
			width: 250px;
			height: 250px;
			border-radius: 50%;
			background-color: var(--green-color);

			.desafio-imagem {
				margin: 0 auto;
				width: 128px;
			}
		}

		.desafio-info-container {
			display: flex;
			flex-wrap: wrap;
			width: 40vw;
			height: 66%;
			justify-content: space-evenly;

			.titulo {
				width: 45%;
				height: fit-content;
				padding-top: 2.5rem;

				h1 {
					font-size: 2.25rem;
					line-height: 2.5rem;
					font-weight: 800;
					margin-bottom: 0.5rem;
					color: var(--green-color);
				}

				p {
					font-size: 1.25rem;
					line-height: 1.75rem;
					color: var(--green-color);
				}
			}

			.requisitos-container {
				width: 45%;
				height: fit-content;
				padding: 2.5rem;

				h1 {
					color: var(--white-color);
				}

				.requisitos {
					font-size: 1.25rem;
					line-height: 1.75rem;
					font-weight: 600;
					color: var(--white-color);
					background-color: var(--green-color);
					padding: 1rem;
					border-radius: 24px;
					margin-bottom: 1vh;
				}

				.requisitos-btn {
					display: flex;
					width: 100%;
					height: 3rem;
					justify-content: center;
					align-items: center;
					border-radius: 0.75rem;
					background-color: var(--black-color);
					border: 0px;
					cursor: pointer;

					a {
						text-decoration: none;
						color: var(--white-color);
					}
				}

				.requisitos-btn:hover {
					background-color: var(--white-color);
					color: var(--black-color);
					border: 1px solid var(--black-color);
				}
			}
		}
	}

	.secondary-info-container {
		display: flex;
		flex-wrap: wrap;
		width: 96%;
		height: fit-content;
		align-items: center;

		.response-container {
			width: 60%;
			.response-title {
				font-size: 1.25rem;
				line-height: 1.75rem;
				font-weight: 800;
				color: var(--green-color);
			}

			.input-response {
				width: 70%;
				height: 60px;

				border: 1px solid var(--black-color);
				border-radius: 1rem;
				color: var(--green-color);
				padding: 1.25rem;
				margin-right: 0.5vw;
			}

			#submitBtn {
				width: 20%;
				height: 60px;
				border-radius: 1rem;
			}
		}

		.pontuacao {
			width: 29%;
			padding-left: 2.5rem;
			margin: 0 auto;

			h1 {
				color: var(--green-color);
				font-weight: 800;
				font-size: 1.5rem;
				line-height: 2rem;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.desafio-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: fit-content;
		padding: 1rem;
		border-radius: 24px;

		.img-and-info {
			.imagem-container {
				display: none;

				.desafio-imagem {
					display: none;
				}
			}

			.desafio-info-container {
				display: flex;
				width: 100%;
				padding: 10px;

				.titulo,
				.requisitos-container {
					width: 100%;
					padding: 0px;
				}
			}
		}

		.secondary-info-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-direction: column-reverse;

			.response-container {
				width: 100%;

				#submitBtn {
					width: 29%;
				}
			}

			.pontuacao {
				display: inline-flex;
				width: 100%;
				margin: 0px;
				padding: 0px;
				justify-content: center;
				margin-bottom: 1vh;
			}
		}
	}
}
