$branco: #ffffff;
$rodape: rgba(0, 0, 0, 0.5);

.landing-page-footer-container {
	background-color: $branco;
	width: 100%;
	height: fit-content;
	margin-top: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;

	.landing-page-footer-list {
		list-style: none;
		display: inline-flex;
		align-items: center;
		height: 6rem;

		.landing-page-footer-list-item {
			font-size: 1rem;
			line-height: 1.5rem;
			color: $rodape;
			margin-left: 3vw;
			padding-right: 3vw;
		}
	}

	.landing-page-footer-line {
		margin: 0 auto;

		height: 1px;
		width: 95%;
		background-color: $rodape;
	}
}
