$verde: #1c7a1f;
$branco: #ffffff;
$preto: #000000;

.navbar-container {
	display: inline-flex;
	width: 100%;
	height: 6rem;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	justify-content: space-around;
	align-items: center;
	background-color: $branco;

	.teste {
		display: inline-flex;
		justify-content: space-around;

		.navbar-logo-link {
			display: inline-flex;
			font-size: 2.25rem;
			line-height: 2.5rem;
			font-weight: 700;
			height: fit-content;
			text-decoration: none;
			color: $preto;
			align-items: center;

			.navbar-logo {
				padding-left: 0.5rem;
			}
		}

		.hamburger {
			border: 0;
			height: 40px;
			width: 40px;
			padding: 0.5rem;
			border-radius: 50%;
			background-color: $verde;
			display: none;
			cursor: pointer;
		}
	}

	.navbar-list {
		display: inline-flex;
		width: 33%;
		justify-content: space-evenly;
		object-position: right;
		height: 4rem;
		margin-right: 2rem;

		.navbar-list-item {
			display: inline-flex;
			list-style: none;

			.navbar-list-item-link {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.5rem;
				line-height: 2rem;
				font-weight: 700;
				text-decoration: none;
				height: 2.5rem;
				width: 8rem;
				margin: 0px;
				color: $preto;
				cursor: pointer;
				height: 100%;
			}
		}

		.navbar-last-item {
			.navbar-list-item-link {
				border: 1px solid $verde;
				border-radius: 0.75rem;
				background-color: $verde;
				color: $branco;
			}

			:hover {
				background-color: $branco;
				color: $verde;
				transition-duration: 200ms;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.navbar-container {
		justify-content: space-between;
		.navbar-logo-link {
			font-size: 1.75rem;
			margin-left: 2rem;

			.navbar-logo {
				height: 1.5rem;
			}
		}

		.navbar-list {
			margin-right: 10vw;
			.navbar-list-item {
				font-size: 1rem;
			}
		}
	}
}

@media (max-width: 768px) {
	.navbar-container {
		flex-wrap: wrap;
		height: 60px;
		.teste {
			width: 100%;
			height: 100%;
			align-items: center;

			.navbar-logo-link {
				font-size: 1.5rem;
			}

			.hamburger {
				display: block;
				cursor: pointer;
			}
		}

		.navbar-list {
			flex-direction: column;
			position: absolute;
			left: 0;
			top: 60px;
			background-color: #fef7e5;
			width: 0px;
			height: calc(100vh - 60px);
			transition: all 0.3s ease-in;
			overflow: hidden;
			justify-content: start;

			.navbar-list-item {
				width: 50%;
				height: fit-content;
				flex-direction: column;
				margin-left: 50px;
				margin-top: 30px;

				.navbar-list-item-link {
					justify-content: start;
					height: fit-content;
					font-weight: 600;
					color: $verde;
				}
			}

			.navbar-last-item {
				.navbar-list-item-link {
					border: 0px;
					border-radius: 0px;
					background-color: #fef7e5;
				}
			}
		}
		.navbar-list.expanded {
			width: 250px;
		}
	}
}
