.card-admin-container {
	display: flex;
	width: 80vw;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	padding: 2.5rem;
	border-radius: 48px;
	background-color: var(--component-color);

	.card-admin-image-container {
		display: inline-flex;
		width: 50%;

		.admin-image {
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 1.25rem;
		}

		.card-admin-title {
			font-size: 1.875rem;
			line-height: 2.25rem;
			font-weight: 700;
			color: var(--green-color);
		}
	}
}

@media screen and (max-width: 768px) {
	.card-admin-container {
		display: inline-flex;
		width: 90vw;

		.card-admin-image-container {
			width: fit-content;
			align-items: center;
			.admin-image {
				width: 2rem;
				height: 2rem;
				margin-right: 1.25rem;
			}

			.card-admin-title {
				font-size: 1.25rem;
				line-height: 1rem;
				font-weight: 700;
				color: var(--green-color);
			}
		}
	}
}
