$verdeDesbotado: #507061;
$branco: #ffffff;
$cinzaAdm: rgba(255, 255, 255, 0.23);
.faixa-container {
	display: flex;
	width: 100%;
	height: 6rem;
	align-items: center;

	--tw-shadow: 0 25px 50px -12px rgba(0 0 0 / 0.25);
	--tw-shadow-colored: 0 25px 50px -12px rgba(0 0 0 / 0.25) var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

	.titulo-faixa {
		font-size: 2.25rem;
		line-height: 2.5rem;
		font-weight: 800;
		color: $branco;
		margin-left: 8rem;
		height: fit-content;
	}
}

.faixa-verde {
	background-color: $verdeDesbotado;
}

.faixa-cinza {
	background-color: $cinzaAdm;
}

@media screen and (max-width: 768px) {
	.faixa-container {
		.titulo-faixa {
			margin: 0 auto;
			font-size: 1.5rem;
		}
	}
}
